dataCells/
**/__pycache__/**
*.egg-info
.vscode
exp3d*/
divers_noVCS/
*mlruns*
dev_HC
.idea
division_3D/main
data.zip
dare.sif
.pytest*

/garbage/*
*.ipynb_checkpoints*
/docs/build/*
Stat_Data
run.sh
outputs
dare3d/output
__pycache__